<body>
    <div class="container">
        <div class="row">
            <h1>Welcome to the home page</h1>
            <div class="col-6 offset-3">
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <input type="file" class="form-control" name="profileimage"></br>
                    <input type="submit" class="btn btn-success" value="upload" name="submit" />

                </form>
                <a class="btn btn-primary" href="/AllImage">Show ALL</a>
            </div>
        </div>
    </div>
</body>