<%-include('nav')-%>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form>
        USERNAME
        <input type="text" class="form-control" name="un">
        PASSWORD
         <input type="text" class="form-control" name="p">
        <br>
        <button class=" btn btn-success " name="submit" type="submit" value="submit">INSERT Record</button>
        <br>
        <h3><%=msg%></h3>
        </form>
</div>
</div>